@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
  width: 100vw;  
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  background-color: hsl(30, 54%, 90%);
    
}

h1{
    color: hsl(24, 5%, 18%);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    color: hsl(332, 51%, 32%);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

li p {
    color:  hsl(30, 10%, 34%);
    padding-left: 0.4rem;
}


li {
    color: hsl(332, 51%, 32%);
}

hr{
    border: 1px solid hsl(30, 18%, 87%);
    width: 90%;
    margin: 1rem;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 10rem;
   
}

.sub-container{
    height: 100%;
    width: 30%;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.8rem;
}

.image-container{
    height: 20%;
    width: 100%;
   
}

.image-container img{
    height: 100%;
    width: 100%;
    border-radius: 0.6rem;
}

.recipe-title-container{
    height: 10%;
}

.recipe-title-container h1{
    padding: 0.8rem 0 0.8rem 0;
 }
 
.recipe-title-container p{
   padding: 0.8rem 0 0.8rem 0;
}

.preparation-container{
    height: 12%;
    width: 100%;
    background-color:hsl(330, 100%, 98%);
    border-radius: 0.6rem;
}

.preparation-time{
    height: 30%;
    padding-left: 1rem;
    padding-top: 1rem;
}

.preparation-list{
  height: 70%;
  padding-left: 2.5rem;
  line-height: 1.5rem;
 }

.ingredients-container{
    height: 15%;
    width: 100%;
}

.ingredients{
    height: 20%;
    padding-top: 1rem;
}

.list-ingredients{
    height: 80%;
    padding-left: 1rem;
    line-height: 1.5rem;
}


.instructions-container{
    height: 25%;
    width: 100%;
}

.instructions{
    height: 10%;
    padding-bottom: 0.5rem;
}
.instructions-list{
    height: 90%;
    padding-left: 1rem;
    line-height: 1.5rem;
}
.instructions-list li{
    padding: 0.2rem;
}


.nutrition-container{
    height: 18%;
    width: 100%;
    padding-bottom: 0.5rem;
}

.nutrition{
    padding-bottom: 0.5rem;
}


.nutrition p{
    padding-top: 1.2rem;
}

.calories{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}

.name{
    width: 50%;
    padding: 0.8rem;

}

.value{
    width: 50%;
    padding: 0.8rem;
    font-weight: 600;
    color: hsl(332, 51%, 32%);
}

.calories-hr{
    margin: 0;
}

.attribution{
    padding: 3rem;
}

@media only screen and (max-width: 1480px) {
   .sub-container{
    width:40%;
   }
  }

@media only screen and (max-width: 1000px) {
    .sub-container{
     width:50%;
    }
   }

@media only screen and (max-width: 700px) {
    .sub-container{
     width:65%;
    }
    h1{
        font-size: 2rem;
    }
   }

   @media only screen and (max-width: 431px) {
    .sub-container{
     width:65%;
    }
    h1{
        font-size: 1.5rem;
    }

    h2{
        font-size:1rem;
    }

    p{
        font-size: 14px;
    }
   }